html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 4.5rem;
  color: #f9f7f7;
  font-weight: bold;
  line-height: 2;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.5rem;
  font-weight: bold;
}

a {
  color: #112d4e;
}

p {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: solid 2px;
  width: 100px;
  margin-bottom: 50px;
}

@media (max-width: 720px) {
  h1 {
    font-size: 3rem;
  }
}

/* Set up for format with sidebar */
.container-fluid {
  text-align: center;
}

.navbar {
  background-color: #f9f7f7;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-item {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.nav-item:hover {
  background-color: #dbe2ef;
  color: #fff;
}

/* Intro section */
#intro {
  background: rgb(63, 114, 175);
  background: radial-gradient(circle, rgba(63, 114, 175, 1) 35%, rgba(17, 45, 78, 1) 100%);
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
}

.headshot {
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.introp {
  font-size: 2rem;
  color: #f9f7f7;
}

@media (max-width: 720px) {
  .introp {
    font-size: 1.5rem;
  }
}

/* About */
#about {
  background-color: #f9f7f7;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-hr {
  border: none;
  border-top: 8px dotted;
  width: 60px;
}

.about-content {
  text-align: center;
  margin-bottom: 80px;

}

.about-heading {
  margin-bottom: 60px;
}

.aboutp {
  margin: 10px 20%;
}

@media (max-width: 720px) {
  .aboutp {
    margin: 10px 10%;
  }
}

/* Skills section */
#skills {
  background: rgb(63, 114, 175);
  background: radial-gradient(circle, rgba(63, 114, 175, 1) 35%, rgba(17, 45, 78, 1) 100%);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
}

.arrow {
  border-radius: 50%;
  -webkit-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}

.arrow:hover {
  color: #3f72af;
  cursor: pointer;
}

.skills-heading {
  margin-bottom: 60px;
  color: #f9f7f7;
}

.list-group {
  width: 40%;
  margin: auto;
}

@media (max-width: 1080px) {
  .list-group {
    width: 80%;
    margin: auto;
  }
}

.skill-item {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  float: right;
}

.skill-div {
  font-size: 1rem;
  line-height: 2;
}

.skill-group {
  text-align: center;
}

.java {
  background-color: #dbe2ef;
  padding-left: 5px;
}

.html {
  background-color: #dbe2ef;
  padding-left: 5px;
}

.css {
  background-color: #dbe2ef;
  padding-left: 5px;
}

.javascript {
  background-color: #dbe2ef;
  padding-left: 5px;
}

.node {
  background-color: #dbe2ef;
  padding-left: 5px;
}

/* education */


/* footer */

#footer {
  background-color: #dbe2ef;
  padding: 20px;
}

.footer-icon {
  font-size: 1.2 rem;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}

.fa-github-square:hover {
  color: #F1502F;
}

.fa-linkdin:hover {
  color: #0072b1;
}
